
body
{
background-color: green
}
main
{
    margin: auto;
    width: 800px;
    height: 800px;
    border-radius: 5px solid black;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1
{
    border: 5px solid black;
    border-radius: 60px;
    text-align: center;
    
}
img
{
    width: 250px;
    
}

.imagensBolas
{
    display: flex;
    justify-content: space-around;
}